.avatar-user-profile {
  width: 200px;
  height: 200px;
  border-radius: 30;
}

.company-logo-profile {
  width: 200px;
  height: 200px;
  border-radius: 30;
}

.resume-image {
  width: 250px;
  height: 250px;
  border-radius: 30;
}
